<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PetStore API Tests">
    <test name="PetStore API">
        <classes>
            <class name="com.globant.automation.test.UserTests"/>
            <class name="com.globant.automation.test.PetTests"/>
            <class name="com.globant.automation.test.StoreTests"/>
        </classes>
    </test>
</suite>
